@import "./_variables.css";
@import "./_fonts.css";

/*------------------
    Common styles
------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  font-family: var(--font-book), sans-serif;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.custom-container {
  width: 75%;
  margin-inline: auto;
}

@media screen and (max-width: 1280px) {
  .custom-container {
    width: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .custom-container {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .custom-container {
    width: 92%;
  }
}

/*------------------
     Top header
------------------*/

.header .top-header {
  height: 48px;
  font-size: 15px;
  line-height: 1;
  display: grid;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
  color: var(--white-bg-color);
  background-color: var(--primary-color);
}

@media screen and (max-width: 359px) {
  .header .top-header {
    font-size: 14px;
  }
}

/*------------------
    Social header
------------------*/

.header .social-header {
  padding-block: 6px;
  background-color: var(--white-bg-color);
}

.header .social-header .social-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .social-header .social-header-flex .text {
  font-size: 14px;
}

.header .social-header .social-header-flex .social-icons span {
  font-size: 12px;
  vertical-align: bottom;
}

.header .social-header .social-header-flex .social-icons a:not(:last-child) {
  margin-right: 22px;
}

.header .social-header .social-header-flex .social-icons a:hover {
  filter: invert(75%) sepia(20%) saturate(844%) hue-rotate(316deg)
    brightness(104%) contrast(87%);
}

.header .social-header .social-header-flex .social-icons a img {
  vertical-align: middle;
}

.header
  .social-header
  .social-header-flex
  .social-icons
  a:not(:last-child)
  img {
  vertical-align: middle;
}

@media screen and (max-width: 991px) {
  .header .social-header {
    display: none;
  }
}

/*------------------
    Search header
------------------*/

.header .search-header {
  padding-block: 24px;
  background-color: var(--white-bg-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.header .search-header .search-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .search-header .search-header-flex a.site-logo span {
  font-size: 30px;
  color: var(--font-color);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.header .search-header .search-header-flex a.site-logo:hover span {
  color: var(--primary-color);
}

.header .search-header .search-header-flex .search-wrapper {
  position: relative;
}

.header .search-header .search-header-flex .search-wrapper .search-input {
  width: 450px;
  height: 48px;
  font-size: 15px;
  border-radius: 4px;
  padding-inline: 16px;
  border: 1px solid #dadada;
}

.header .search-header .search-header-flex .search-wrapper .search-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.header .search-header .search-header-flex .search-wrapper img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  filter: invert(74%) sepia(0%) saturate(1%) hue-rotate(196deg) brightness(91%)
    contrast(90%);
}

.header .search-header .search-header-flex .menu-wrapper {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: end;
}

.header .search-header .search-header-flex .menu-wrapper a:hover img {
  filter: invert(75%) sepia(20%) saturate(844%) hue-rotate(316deg)
    brightness(104%) contrast(87%);
}

.header .search-header .search-header-flex .menu-wrapper a img {
  display: block;
  margin-inline: auto;
  transition: all 0.3s ease;
  filter: invert(74%) sepia(0%) saturate(1%) hue-rotate(196deg) brightness(91%)
    contrast(90%);
}

.header .search-header .search-header-flex .menu-wrapper a span {
  font-size: 12px;
  color: var(--font-color);
  transition: all 0.3s ease;
}

.header .search-header .search-header-flex .menu-wrapper a:hover span {
  color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
  .header .search-header .search-header-flex a.site-logo span {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  .header .search-header {
    display: none;
  }
}

/*------------------
    Mobile header
------------------*/

.mobile-header {
  padding: 15px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.mobile-header .mobile-header-item .icon {
  height: 19px;
  margin-left: 12px;
  filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(201deg) brightness(86%)
    contrast(94%);
}

.mobile-header .mobile-header-item .site-logo {
  font-size: 20px;
  color: var(--font-color);
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .mobile-header {
    display: flex;
  }
}

@media screen and (max-width: 424px) {
  .mobile-header .mobile-header-item .icon {
    margin-left: 8px;
  }
}

@media screen and (max-width: 374px) {
  .mobile-header .mobile-header-item .icon {
    margin-left: 6px;
  }
  .mobile-header .mobile-header-item .site-logo {
    font-size: 17px;
  }
}

/*------------------
    Navbar header
------------------*/

.header .navbar-header {
  padding-block: 24px 12px;
  background-color: var(--white-bg-color);
}

.header .navbar-header .navbar-header-flex {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: center;
}

.header .navbar-header .navbar-header-flex a {
  display: block;
  font-size: 15px;
  letter-spacing: 0.2em;
  color: var(--font-color);
  text-transform: uppercase;
  font-family: var(--font-book);
}

.header .navbar-header .navbar-header-flex a.gifts {
  color: #d29825;
}

.header .navbar-header .navbar-header-flex a.season-sale {
  color: #ff4e4e;
}

.header .navbar-header .navbar-header-flex a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
  .header .navbar-header .navbar-header-flex a {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .header .navbar-header {
    display: none;
  }
}
