:root {
  --primary-color: #EEAFA6;
  --font-color: #111111;
  --bg-color: #F9F9F9;
  --white-bg-color: #FFFFFF;
  --light-bg-color: #EADFDD;
  --border-color: #EEEEEE;
  --font-book: 'futura-book';
  --font-heavy: 'futura-heavy';
  --font-round: 'futura-round';
  --font-thin: 'futura-thin';
}

[data-theme="dark"] {
  --font-color: #E1E1FF;
  --bg-color: #161625;
  --light-bg-color: #e08a7d;
}
