@import "./_layout.css";

/*------------------
   center banners
------------------*/

.main .center-banner {
  margin-top: 8px;
}

.main .center-banner img {
  height: 600px;
  min-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .main .center-banner {
    margin-top: 0px;
  }
  .main .center-banner img {
    height: 450px;
  }
}

@media screen and (max-width: 599px) {
  .main .center-banner img {
    height: 300px;
  }
}

@media screen and (max-width: 359px) {
  .main .center-banner img {
    height: 250px;
  }
}

/*------------------
    small banners
------------------*/

.main .small-banner {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
  margin-block: 73px;
  justify-content: space-between;
}

.main .small-banner a {
  width: 400px;
}

.main .small-banner img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .main .small-banner {
    gap: 10px;
    flex-wrap: wrap;
    margin-block: 20px;
  }
  .main .small-banner a {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .main .small-banner img {
    height: 156px;
  }
}

/*------------------
   product lists
------------------*/

.main .product-list-wrapper {
  margin-bottom: 91px;
}

.main .product-list-wrapper .title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.main .product-list-wrapper .product-list {
  margin-top: 36px;
  display: grid;
  gap: 30px 20px;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
}

.main .product-list-wrapper .product-list::-webkit-scrollbar {
  display: none;
}

.main .product-list-wrapper .product-list .product-item {
  text-align: center;
}

.main .product-list-wrapper .product-list .product-item img {
  width: 100%;
  height: auto;
}

.main .product-list-wrapper .product-list .product-item .product-info {
  margin-top: 28px;
  color: var(--font-color);
}

.main
  .product-list-wrapper
  .product-list
  .product-item
  .product-info
  .product-size {
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main
  .product-list-wrapper
  .product-list
  .product-item
  .product-info
  .product-name {
  font-size: 17px;
  margin-top: 12px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.main
  .product-list-wrapper
  .product-list
  .product-item
  .product-info
  .product-price {
  font-size: 17px;
  margin-top: 10px;
  letter-spacing: 0.1em;
}

.main .product-list-wrapper .btn-wrapper {
  margin-top: 42px;
  text-align: center;
}

.main .product-list-wrapper .btn-wrapper .btn-view-all {
  font-size: 18px;
  padding: 16px 40px;
  color: var(--white-bg-color);
  background-color: var(--font-color);
}

@media screen and (max-width: 991px) {
  .main .product-list-wrapper {
    margin-block: 24px 28px;
  }
  .main .product-list-wrapper .product-list {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
  }
  .main .product-list-wrapper .title {
    font-size: 25px;
  }
  .main .product-list-wrapper .product-list .product-item img {
    width: 236px;
  }
  .main .product-list-wrapper .product-list .product-item .product-info {
    margin-top: 20px;
  }
  .main .product-list-wrapper .btn-wrapper {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .main .product-list-wrapper .product-list .product-item img {
    width: 156px;
  }
  .main
    .product-list-wrapper
    .product-list
    .product-item
    .product-info
    .product-size {
    font-size: 14px;
  }
  .main
    .product-list-wrapper
    .product-list
    .product-item
    .product-info
    .product-name {
    font-size: 16px;
  }
  .main
    .product-list-wrapper
    .product-list
    .product-item
    .product-info
    .product-price {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .main .product-list-wrapper .product-list .product-item img {
    width: 136px;
  }
}

@media screen and (max-width: 359px) {
  .main .product-list-wrapper .product-list .product-item img {
    width: 116px;
  }
}

/*------------------
  special banners
------------------*/

.main .banner img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.main .special-banner {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
  margin-block: 73px;
  justify-content: space-between;
}

.main .special-banner a {
  width: 400px;
}

.main .special-banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .main .special-banner {
    gap: 10px;
    flex-wrap: wrap;
    margin-block: 20px;
  }
  .main .special-banner a {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .main .special-banner img {
    height: 156px;
  }
}

/*-------------------
      site info
--------------------*/

.main .site-info {
  display: flex;
  gap: 125px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main .site-info img {
  height: 505px;
  flex-basis: 43%;
}

.main .site-info .site-info__content {
  flex-basis: calc(57% - 125px);
}

.main .site-info .site-info__content .title {
  font-size: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main .site-info .site-info__content .text {
  font-size: 16px;
  margin-top: 12px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.main .site-info .site-info__content .text.second-para {
  padding-top: 16px;
}

.main .site-info .site-info__content .btn-view-all {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 15.5px;
  letter-spacing: 0.1em;
  display: inline-block;
  text-transform: uppercase;
  color: var(--white-bg-color);
  background-color: var(--font-color);
}

@media screen and (max-width: 1300px) {
  .main .site-info {
    gap: 80px;
  }
  .main .site-info .site-info__content {
    flex-basis: calc(57% - 80px);
  }
}

@media screen and (max-width: 991px) {
  .main .site-info {
    gap: 26px;
    text-align: center;
  }
  .main .site-info img {
    height: 400px;
    flex-basis: 100%;
    object-fit: cover;
  }
  .main .site-info .site-info__content {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 599px) {
  .main .site-info img {
    height: 360px;
  }
  .main .site-info .site-info__content .btn-view-all {
    font-size: 14px;
    padding: 8.5px 12.625px;
  }
}

@media screen and (max-width: 424px) {
  .main .site-info img {
    height: 340px;
  }
}

/*-------------------
   call to action
--------------------*/

.main .call-to-action {
  margin-top: 80px;
}

.main .call-to-action img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .main .call-to-action {
    margin-top: 30px;
  }
  .main .call-to-action img {
    height: 144px;
    object-fit: cover;
  }
}

/*-------------------
   social gallery
--------------------*/

.main .social-gallery {
  margin-block: 73px 80px;
}

.main .social-gallery .social-gallery__title {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main .social-gallery .social-gallery__title a {
  color: inherit;
}

.main .social-gallery .gallery-wrapper {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.main .social-gallery .gallery-wrapper img {
  width: 384px;
  height: 384px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .main .social-gallery {
    margin-block: 28px;
  }
  .main .social-gallery .social-gallery__title {
    font-size: 25px;
    text-align: center;
  }
  .main .social-gallery .gallery-wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .main .social-gallery .gallery-wrapper img {
    width: 100%;
  }
}
