@import './_variables.css';
@import './_fonts.css';

/*------------------
    Common styles
------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  font-family: var(--font-book), sans-serif;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.custom-container {
  width: 75%;
  margin-inline: auto;
}

@media screen and (max-width: 1280px) {
  .custom-container {
    width: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .custom-container {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .custom-container {
    width: 95%;
  }
}

/*------------------
     Top header
------------------*/

.header .top-header {
  height: 48px;
  font-size: 15px;
  line-height: 1;
  display: grid;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
  color: var(--white-bg-color);
  background-color: var(--primary-color);
}

/*------------------
    Social header
------------------*/

.header .social-header {
  padding-block: 6px;
  background-color: var(--white-bg-color);
}

.header .social-header .social-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .social-header .social-header-flex .text {
  font-size: 14px;
}

.header .social-header .social-header-flex .social-icons span {
  font-size: 12px;
  vertical-align: bottom;
}

.header .social-header .social-header-flex .social-icons a:not(:last-child) {
  margin-right: 22px;
}

.header .social-header .social-header-flex .social-icons a:hover {
  filter: invert(75%) sepia(20%) saturate(844%) hue-rotate(316deg) brightness(104%) contrast(87%);
}

.header .social-header .social-header-flex .social-icons a img {
  vertical-align: middle;
}

.header .social-header .social-header-flex .social-icons a:not(:last-child) img {
  vertical-align: middle;
}

/*------------------
    Search header
------------------*/

.header .search-header {
  padding-block: 24px;
  background-color: var(--white-bg-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.header .search-header .search-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .search-header .search-header-flex a.site-logo span {
  font-size: 30px;
  color: var(--font-color);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.header .search-header .search-header-flex a.site-logo:hover span {
  color: var(--primary-color);
}

.header .search-header .search-header-flex .search-wrapper {
  position: relative;
}

.header .search-header .search-header-flex .search-wrapper .search-input {
  width: 450px;
  height: 48px;
  font-size: 15px;
  border-radius: 4px;
  padding-inline: 16px;
  border: 1px solid #DADADA;
}

.header .search-header .search-header-flex .search-wrapper .search-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.header .search-header .search-header-flex .search-wrapper img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  filter: invert(74%) sepia(0%) saturate(1%) hue-rotate(196deg) brightness(91%) contrast(90%);
}

.header .search-header .search-header-flex .menu-wrapper {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: end;
}

.header .search-header .search-header-flex .menu-wrapper a:hover img {
  filter: invert(75%) sepia(20%) saturate(844%) hue-rotate(316deg) brightness(104%) contrast(87%);
}

.header .search-header .search-header-flex .menu-wrapper a img {
  display: block;
  margin-inline: auto;
  transition: all 0.3s ease;
  filter: invert(74%) sepia(0%) saturate(1%) hue-rotate(196deg) brightness(91%) contrast(90%);
}

.header .search-header .search-header-flex .menu-wrapper a span {
  font-size: 12px;
  color: var(--font-color);
  transition: all 0.3s ease;
}

.header .search-header .search-header-flex .menu-wrapper a:hover span {
  color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
  .header .search-header .search-header-flex a.site-logo span {
    font-size: 26px;
  }
}

/*------------------
    Navbar header
------------------*/

.header .navbar-header {
  padding-block: 24px 12px;
  background-color: var(--white-bg-color);
}

.header .navbar-header .navbar-header-flex {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: center;
}

.header .navbar-header .navbar-header-flex a {
  display: block;
  font-size: 15px;
  letter-spacing: 0.2em;
  color: var(--font-color);
  text-transform: uppercase;
  font-family: var(--font-book);
}

.header .navbar-header .navbar-header-flex a.gifts {
  color: #D29825;
}

.header .navbar-header .navbar-header-flex a.season-sale {
  color: #FF4E4E;
}

.header .navbar-header .navbar-header-flex a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
  .header .navbar-header .navbar-header-flex a {
    font-size: 14px;
  }
}

/*------------------
   center banners
------------------*/

.main .center-banner {
  margin-top: 8px;
}

.main .center-banner img {
  height: 600px;
  min-width: 100%;
  object-fit: cover;
}

/*------------------
    small banners
------------------*/

.main .small-banner {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block: 73px;
  justify-content: space-between;
}

.main .small-banner a {
  width: 400px;
}

.main .small-banner img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/*------------------
   product lists
------------------*/

.main .product-list-wrapper {
  margin-bottom: 91px;
}

.main .product-list-wrapper .title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.main .product-list-wrapper .product-list {
  margin-top: 36px;
  display: grid;
  gap: 30px 20px;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
}

.main .product-list-wrapper .product-list .product-item {
  text-align: center;
}

.main .product-list-wrapper .product-list .product-item img {
  width: 100%;
  height: auto;
}

.main .product-list-wrapper .product-list .product-item .product-info {
  margin-top: 28px;
  color: var(--font-color);
}

.main .product-list-wrapper .product-list .product-item .product-info .product-size {
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main .product-list-wrapper .product-list .product-item .product-info .product-name {
  font-size: 17px;
  margin-top: 12px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.main .product-list-wrapper .product-list .product-item .product-info .product-price {
  font-size: 17px;
  margin-top: 10px;
  letter-spacing: 0.1em;
}

.main .product-list-wrapper .btn-wrapper {
  margin-top: 36px;
  text-align: center;
}

.main .product-list-wrapper .btn-wrapper .btn-view-all {
  font-size: 18px;
  padding: 16px 40px;
  color: var(--white-bg-color);
  background-color: var(--font-color);
}

/*------------------
  special banners
------------------*/

.main .banner img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.main .special-banner {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block: 73px;
  justify-content: space-between;
}

.main .special-banner a {
  width: 400px;
}

.main .special-banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*-------------------
      site info
--------------------*/

.main .site-info {
  display: flex;
  gap: 125px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main .site-info img {
  height: 505px;
  flex-basis: 43%;
}

.main .site-info .site-info__content {
  flex-basis: calc(57% - 125px);
}

.main .site-info .site-info__content .title {
  font-size: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main .site-info .site-info__content .text {
  font-size: 16px;
  margin-top: 12px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.main .site-info .site-info__content .text.second-para {
  padding-top: 16px;
}

.main .site-info .site-info__content .btn-view-all {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 15.5px;
  letter-spacing: 0.1em;
  display: inline-block;
  text-transform: uppercase;
  color: var(--white-bg-color);
  background-color: var(--font-color);
}

@media screen and (max-width: 1300px) {
  .main .site-info {
    gap: 80px;
  }
  .main .site-info .site-info__content {
    flex-basis: calc(57% - 80px);
  }
}

@media screen and (max-width: 992px) {
  .main .site-info {
    gap: 60px;
  }
  .main .site-info .site-info__content {
    flex-basis: calc(57% - 60px);
  }
}

/*-------------------
   call to action
--------------------*/

.main .call-to-action {
  margin-top: 80px;
}

.main .call-to-action img {
  width: 100%;
}

/*-------------------
   social gallery
--------------------*/

.main .social-gallery {
  margin-block: 73px 80px;
}

.main .social-gallery .social-gallery__title {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main .social-gallery .social-gallery__title a {
  color: inherit;
}

.main .social-gallery .gallery-wrapper {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.main .social-gallery .gallery-wrapper img {
  width: 384px;
  height: 384px;
  object-fit: cover;
}

/*-------------------
    footer section
--------------------*/

.footer {
  border-top: 1px solid #E5E5E5;
}

.footer .footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 40px;
}

.footer .footer-top .footer-top-item .footer-top-item__title {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer .footer-top .footer-top-item .footer-top-item__list {
  margin-block: 22px 26px;
}

.footer .footer-top .footer-top-item .footer-top-item__list a {
  display: block;
  color: inherit;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.1em;
}

.footer .footer-top .footer-top-item .footer-top-item__list a:hover {
  color: var(--primary-color);
}

.footer .footer-top .footer-top-item .footer-top-item__text {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.footer .footer-top .footer-top-item .footer-top-item__subscribe {
  margin-top: 30px;
}

.footer .footer-top .footer-top-item .footer-top-item__subscribe input {
  width: 314px;
  height: 42px;
  font-size: 15px;
  border-radius: 4px;
  padding-inline: 12px;
  border: 1px solid var(--font-color);
  background-color: var(--white-bg-color);
}

.footer .footer-top .footer-top-item .footer-top-item__subscribe input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.footer .footer-top .footer-top-item .footer-top-item__subscribe button {
  border: 0;
  width: 92px;
  height: 42px;
  font-size: 15px;
  cursor: pointer;
  line-height: 18px;
  border-radius: 4px;
  color: var(--white-bg-color);
  background-color: var(--font-color);
}

.footer .footer-top .footer-top-item .social-media {
  margin-top: 14px;
  display: flex;
  gap: 32px;
  align-items: center;
}

.footer .footer-top .footer-top-item .social-media a img {
  height: 32px;
  display: block;
}

.footer .footer-app-link {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
  border-top: 1px solid #E5E5E5;
}

.footer .footer-payment {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding-block: 32px;
  border-top: 1px solid #E5E5E5;
}

.footer .footer-copyright {
  text-align: center;
  padding-block: 21.5px;
  background-color: var(--light-bg-color);
}

.footer .footer-copyright p {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 17px;
}

.footer .footer-copyright p a {
  color: inherit;
}
